@media only screen and (max-width: 890px) {

    .brand-img {
        width: 100%;
        margin-bottom: 1.5rem;
        justify-content: center;
    }

    :root {
        --heading-size: 2rem;
        --subheading-size: 1.5rem;
        --title-size: 1.25rem;
    }

    .col-1-of-4 {
        width: 48%;
        margin: 0 1%;
    }

    .col-1-of-2 {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        margin-top: 1.5rem;
    }

    .hero-img img {
        height: auto;
        width: 100%;
    }

    .row {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .col-1-of-4 {
        width: 100%;
        margin-top: 1.5rem;
    }

    .col-1-of-3 {
        width: 100%;
        margin-top: 1.5rem;
    }

    .col-2-of-3 {
        margin-top: 1.5rem;
        width: 100%;
    }
}